* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: var(--dark);
}
:root {
  --darkblue: #00008b;
  --lightblue: #dbe6f7;
  --lightgray: #d3d3d3;
  --lightyelllow: #ffffe0;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
.font-size-36 {
  font-size: 36px;
}
.text-blue {
  color: var(--primary);
}
.text-green {
  color: var(--success);
}
.text-orange {
  color: var(--orange);
}
.btn {
  border: 1px solid var(--secondary);
  border-radius: 0.7rem;
  padding: 0.7rem;
  background-color: transparent;
}
.btn:active,
.btn-large:active {
  transform: scale(1.1);
}
.btn-large {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
}
.dark {
  background-color: var(--dark);
  color: var(--white);
}
button {
  cursor: pointer;
}

/* Navbar */
nav {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar-left {
  color: var(--orange);
}
.navbar-fill {
  list-style: none;
  display: none;
}
.navbar-right {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.2rem;
  flex-wrap: wrap;
}
.search-input,
.search-input:focus-visible {
  border: none;
  outline: none;
}
.btn > .bi-bag-fill {
  color: var(--primary);
  font-size: large;
}
.profile-icon {
  border: none;
  font-size: 2.5rem;
  background-color: transparent;
}

/* Hero Image */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.8rem 0px;
}
.hero-content {
  width: 50%;
  padding: 1rem;
}
.hero-content p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

/* Service Overview Section */
.service-overview-section {
  background-color: var(--orange);
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.service-overview-section h2 {
  color: var(--white);
  font-size: x-larger;
}
.service-overview-section > div {
  color: var(--lightyelllow);
}

/* Animation */
.hero-sneaker-image {
  transform: rotate(20deg);
}
.hero-sneaker-image:hover {
  animation: moveforward 1s ease-in-out infinite alternate;
}
@keyframes moveforward {
  to {
    transform: rotate(12deg) scale(1.1);
  }
}
.highlighted-product {
  animation: sneakerMovement 2s infinite alternate;
}
@keyframes sneakerMovement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg) scale(0.7);
  }
}

/* Product Display Section */
.product-section,
.pprice,
.gallary-section {
  display: flex;
  margin: 1rem;
  gap: 2rem;
  align-items: center;
}
.product-image {
  padding: 1rem;
}
.pprice > .revenue {
  background-color: var(--lightblue);
  color: var(--primary);
  font-size: larger;
  padding: 1rem;
  border-radius: 0.8rem;
}
.pprice {
  margin: 1rem 0px;
  gap: 1rem;
}
select {
  background-color: var(--lightgray);
  border-radius: 0.8rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.add-to-cart {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.8rem;
  border: none;
}
.add-to-cart > .bi {
  color: var(--white);
  margin-right: 3px;
}
.gallary-section {
  padding: 1rem;
  overflow-x: auto;
}
.gallary-section > img {
  padding: 1rem;
  border-radius: 0.8rem;
}
.gallary-section > img.active {
  border: 1px solid var(--dark);
}
.gallary-section > img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  nav {
    padding: 0.5rem;
  }
  .navbar-fill {
    position: absolute;
    background-color: var(--light);
    width: 96%;
    border: 1px solid var(--secondary);
    top: 3.5rem;
    border-radius: 0.7rem;
    padding-left: 0px;
    border-top: none;
  }
  .navbar-fill > li {
    padding: 1rem 0.5rem;
    text-align: center;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-content {
    width: 100%;
    margin: 0px;
    margin-bottom: 2rem;
  }
  .product-section {
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  .navbar-fill {
    display: block;
  }
  .navbar-fill > li {
    display: inline;
    padding: 0px 0.5rem;
  }
  .navbar-toggler {
    display: none;
  }
}
